/*Layout*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    text-align: center;
    text-transform: uppercase;
}
/* variables */
:root{
    --padding :0 150px 0 150px;
}
/* Banner Content */
.banner6{
    width: 100%;
    height: 85vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.727),rgba(17, 17, 17, 0.764)),url(../Images/BABY3.jpg);
    background-size:cover ;
    background-position: center;
}
.path{
    padding: 25px 0 0 25px;
    font-weight: bold;
}
.textbox{
    width: 90%;
    color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.textbox h1{
    font-size: 70px;
    text-transform: uppercase;
}
.textbox h3{
    letter-spacing: 40px;
    color: #ffffff7b;
    font-size: 150px;
    text-transform: uppercase;
    line-height: 50%;
    padding-left: 30px;
    
}

/* Navigation Bar */
nav{
    text-transform: uppercase;
    font-weight: bold;
}
#logo{
    width: 110px;
    cursor: pointer;
    float: left;
    margin-left: 50px;
    margin-top: -40px;
    transform: rotate(90deg);
}
.current{
    color: #02d3be;
}
nav ul {
    margin: 0;
    padding: 0;
    float: right;
    list-style: none;
    display: flex;
    margin-top: 30px;
}

nav li {
    margin-right: 10px;
    position: relative;
}

nav li ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color:transparent;
    padding: 10px;
    display: none;
    margin-top: 5px;
}

nav li:hover ul {
    display: block;
}

nav li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

nav li ul li {
    margin: 0px 0;
    width:150% ;
}

nav li ul li a {
    color: rgb(224, 224, 224);
}
nav ul li::after{  
    content: '';
    height: 2px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
nav ul li:hover::after{
    width: 100%;
    color: #009688;
}
/* -------------------Go To Top Button------------------ */

.button2{
    margin-top: 50px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 0px solid rgb(0, 0, 0);
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    
}
.button2:hover{
    border: 1px solid hsl(0, 0%, 100%);
    background: #01ceba85;
    transition: 1s ;

}

/* Footer */

/* ------Footer Navigation------ */
.footnav{
    justify-content: space-between;
    list-style: none;
    display: flex;
    position: relative;
    margin-left: 0;
    
}
.footnav ul {
    margin: 0;
    padding: 0;
    float: right;
    list-style: none;
    display: flex;
    margin-top: 30px;
}

.footnav li {
    margin-right: 0px;
    position: relative;
    font-size: 12px;
}

.footnav li ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color:transparent;
    padding: 10px;
    display: none;
    margin-top: 5px;
}
.footnav li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
}
.social img{
    width: 30px;
    height: 30px;
    align-items: center;
    padding-left: 23%;
    
}
  
/* -------Footer Formatting-------*/
footer{
    width: 100%;
    position:absolute;
    background-image:linear-gradient(rgba(0, 0, 0, 0.727),rgba(17, 17, 17, 0.764)),url(../Images/footer.jpg);
    color: #fff;
    padding: 50px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}
.row2{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 20%;
    padding: 5px;
}
.col p{
    font-size: 12px;
    text-align: justify;
    
}
.col2{
    flex-basis: 75%;
    padding: 10px;
}
.col2 p{
    text-align: center;
}
.footlogo{
    width: 100px;
    transform: rotate(90deg);
    margin-left: 30%;

}
/* Body Content */
.hatcheryintro{
    text-align: center;
    font-size: 30px;
}
    .hatcheryintro ul{
    list-style:disc;
}
    .hatcheryintro iframe{
        height: 500px;
         width: 500px;
    }

.bentotahatchery{
    display: flex;
    padding: var(--padding);
}
.bentotahatchery img{
    height: 400px;
    width: 400px;
    padding-right: 100px;
    border-radius: 10px;
}
.bentotahatchery p{
    font-size:15px;
    padding-top: 75px;
}

/* Other Activities */
.container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.card{
    height: 500px;
    margin: 50px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    border-radius: 15px;
}
.container img{
    height: 500px;
    width: 350px;
    border-radius: 15px;
    transition: 0.5s;
}
.intro{
    height: 100px;
    width: 350px;
    padding: 6px;
    box-sizing: border-box;
    position:relative;
    bottom: 300px;
    background:rgba(0, 0, 0, 0.203) ;
    color: #fff;
    transition: 0.5s;
}
.intro h1{
    margin: 10px;
    font-size: 30px;
    text-align: center;
}
.intro p{
    font-size: 15px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
}
.card:hover{
    cursor: pointer;
}
.card:hover .intro{
    height: 450px;
    bottom: 450px;
    background: #02c4b1a2;
}
.card:hover p{
    opacity: 1;
    visibility: visible;
}
.card:hover img{
    transform: scale(1.1) ;
}